html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

section {
  border: 1px solid white;
  border-radius: 15px;
  width: 250px;
  padding: 12px;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
}

section img {
  width: 100%;
  border-radius: 15px;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  margin: 0 10px 20px;
  font-weight: 400;
}

h3 {
  color: hsl(218, 44%, 22%);
  margin: 10px;
  font-weight: 700;
}

.attribution {
  margin-top: 30px;
}
